*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Roboto', sans-serif;
}
nav
{
  background: #111111;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1000;
}
label.logo
{
  color: #ebb70c;
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;  
}
nav ul
{
  float: right;
  margin-right: 20px;
  list-style: none;
}
nav ul li
{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a
{
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover
{
  background: #ebb70c;
  transition: 0.5s;  
}
.checkbtn
{
  font-size: 30px;
  color: #ebb70c;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; 
}
#check
{
  display: none;  
}
.swiper-container {
  width: 100%;
  height: 700px;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer
{
  position: relative;
  margin: 70px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content
{
  /* min-width: 50%; */
  width: 50%;
  text-align: end;
  padding: 0 40px;
}
.content .titleText
{
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 10px;
}
.text
{
  font-size: 20px;
}
.offer .imgBox
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}
.offer .imgBox img
{
  width: 95%;
}
.rule
{
  position: relative;
  background-color: #bd6a2e;
  color: #fff;
  margin: 50px 0;
}
.rule h2
{
  font-size: 50px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.rule .backgroundDiv
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.075;
  background-image: url(../img/code.jpg);
  background-size: cover;
}
.cardsDescription
{
  display: flex;
  justify-content: space-around;
}
.cardsDescription .itemDescription
{
  width: 400px;
}
.cardsDescription .itemDescription .titleDescription h2
{
  font-size: 30px;
  margin: 20px 0;
}
.cardsDescription .itemDescription .description p
{
  font-size: 20px;
  padding: 20px 0;
}
.round
{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0 50px -10px; */
}
.itemRound
{
  width: 350px;
  height: 450px;
  background: #b3b3b3;
  text-align: center;
  padding: 20px;
}
.roundTitle
{
  padding: 5px;
  height: 50%;
  color: #fff;
}
.roundTitle h2
{
  font-size: 40px;
  padding-top: 20px;
}
.roundTitle p
{
  font-size: 28px;
  padding-top: 20px;
}
.first
{
  background: #f2bd0d;
}
.second
{
  background: #aa8409 ; 
}
.third
{
  background: #614b05; 
}
.roundLinks
{
  height: 50%;
  background: #fff;
}
.round .roundLinks ul
{
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}
.roundLinks ul li a
{
  text-decoration: none;
  padding: 7px 13px;
  width: 130px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background:  #b3b3b3;
  margin: 10px;
}
.roundLinks ul li a:hover
{
  scale: 1.1;
}
.juri
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}
.itemJuri
{
  width: 370px;
  height: 470px;
  background: #bd6a2e;
  margin:20px;
}
.itemJuri .imgBox
{
  height: 50%;
  overflow: hidden;

}
.itemJuri .imgBox img
{
  display: block;
  width: 200px;
  height: auto;
  border-radius: 16%;
  background: #fff;
  padding: 7px;
  margin: 15px auto;
}
.juriContent
{
  text-align: center;
  margin: 20px;
  color:  #fff;
}
.juriContent h2
{
  font-size: 32px;
  margin-bottom: 15px;
}
.juriContent p
 {
   font-size: 24px;
   padding-top: 15px;
 }
 .juri .juriContent hr
 {
   display: block;
   width: 50%;
   margin: 0 auto;
 }
 #final
 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 60px auto;
 }
 #finalDescription
 {
   width: 700px;
   height: 450px;
   background: #bd6a2e;
   display: flex;
   flex-wrap: wrap;
 }
 #finalDescription .card
 {
   position: relative;
   width: 330px;
   height: 200px;
   padding: 15px;
   margin: 10px;
   background: #fff;
 }
 #finalDescription .card .question
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3b3b3;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
 }
 #finalDescription .card:hover .question
 {
  width: 0;
  height: 0; 
  transition: 0.5s ease-in-out;
 }
 #finalDescription .card .question h2
 {
   color: #fff;
   font-size: 32px;
   text-align: center;
   text-shadow: 2px 2px #111111;
 }
 #finalDescription .card p
 {
   font-size: 22px;
   text-align: center;
 }
 #roundFinal
 {
   background: url(../img/goldcup.png);
   background-size: 50%;
   background-repeat: repeat-x;
   text-shadow: 2px 2px #111111;
 }
/* media block ================================================================= */
@media (max-width: 1665px)
{
  label.logo
  {
    font-size: 30px;
    padding: 20px 50px;  
  }
  nav ul li
  {
    margin: 0;  
  }
  nav ul li a
  {
    font-size: 16px; 
  }
}
@media (max-width: 1060px)
{
  #final
  {
    flex-direction: column;
  }
}
@media (max-width: 991px)
{
  .offer
  {
    flex-direction: column;
  }
  .offer .content
  {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .offer .imgBox
  {
    width: 100%;
    margin: 0 10px;
  }
  .offer .imgBox img
  {
    padding-left: 20px;
  }
  .cardsDescription
  {
    flex-wrap: wrap;
  }
  .cardsDescription .itemDescription
  {
    min-width: 45%;
  }
}
@media (max-width: 858px)
{
  .checkbtn
  {
    display: block;  
  }
  nav ul
  {
    position: fixed;
    width: 100%;
    height: 50vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li
  {
    display: block;
    margin: 50px 0;
    line-height: 30px; 
  }
  nav ul li
  {
    font-size: 20px;  
  }
  #check:checked ~ ul
  {
    left: 0;  
  }
  .swiper-container
  {
    height: 500px;
  }
  .round
  {
    flex-direction: column;
  }
  .itemRound
  {
    width: 450px;
    height: 525px;
  }
  #final
  {
    flex-direction: column;
  }
}
@media (max-width: 768px)
{
  .offer
  {
    flex-direction: column;
  }
  .offer .content .titleText
  {
    font-size: 1.5em;
  }
  .cardsDescription
  {
    flex-direction: column;
    align-items: center;
  }
  .cardsDescription .itemDescription
  {
    width: 80%;
  }
  .rule
  {
    margin: 0;
  }
  .offer .imgBox
  {
    min-height: 410px;
  }
  #finalDescription
  {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 450px;
    margin-bottom: 40px;
  }
  #finalDescription .card
  {
    width: 450px;
    height: 200px;
    padding: 15px 5px;
    margin: 5px;
  }
}  
@media (max-width: 590px)
{
  .swiper-container
  {
    height: 350px;
  }
}